<head>
</head>

<body>
<h1>StopMotion</h1>


  <form method="post" action="/">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
  </form>

  <div>
    <a href='/auth/twitter'><button type="button">Login with Twitter</button></a>
  </div>

<!--   <form method="get" action="/predict">
    <select name="stop">
      <option value="7217">Embarcadero</option>
      <option value="6994" selected>Montgomery</option>
      <option value="6995">Powell</option>
    </select>
    <button>Update!</button>
  </form> -->


    <table>
      <tr>
        <th>Line</th>
        <th>Arrival 1</th>
        <th>Arrival 2</th>
      </tr>
      <% @train_info.each do |train| %>
      <tr>
        <td><%= train.route %></td>
        <td><%= train.arrival1 %></td>
        <td><%= train.arrival2 %></td>
      </tr>
      <% end %>
    </table>


</body>
