<head>
</head>

<body>
<h1>StopMotion</h1>

  <form method="post" action="/">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
  </form>

  <div>
    <a href='/auth/twitter'><button type="button">Login with Twitter</button></a>
  </div>

    <table>
      <tr>
        <th>Line</th>
        <th>Arrival 1</th>
        <th>Arrival 2</th>
      </tr>
      <% @train_info.each do |train| %>
      <tr>
        <td><%= train.route %></td>
        <td><%= train.arrival1 %></td>
        <td><%= train.arrival2 %></td>
      </tr>
      <% end %>
    </table>

    <div id="map-canvas"></div>

</body>
