<head>
</head>

<h1>StopMotion</h1>
<h2>Arrival Times for Montgomery Station</h2>

<body>
  <div class="container"> 
    <div class="left col">
     
        <table>
          <tr>
            <th>Line</th>
            <th>Arrival 1</th>
            <th>Arrival 2</th>
          </tr>
          <% @train_info.each do |train| %>
          <tr>
            <td><%= train.route %></td>
            <td><%= train.arrival1 %></td>
            <td><%= train.arrival2 %></td>
          </tr>
          <% end %>
        </table>
    </div>

    <div class="right col">
      <div id="map-canvas"></div>
    </div>

  </div>
</body>
