<head>
</head>

<body>
<h1>StopMotion</h1>


  <form method="post" action="/">
    Email: <input type="text" name="email">
    Password: <input type="password" name="password">
  </form>

  <div>
    <a href='/auth/twitter'><button type="button">Login with Twitter</button></a>
  </div>   

  

</body>
