<!DOCTYPE>
<html>
<head>
  <title>StopMotion</title>
  <link rel="stylesheet" href="style.css"></link>
</head>
<body>
<nav>
  <ul>
    <a href='/auth/twitter'><button type="button">Login with Twitter</button></a>
    <% if current_user %>
      <div>Welcome, <%= current_user.email %></div>
    <% else %> <div>Please sign in!</div>
    <% end %>
    <form method="post" action="/sign_up">
      Email: <input type="text" name="user[email]">
      Password: <input type="password" name="user[password]">
      <button>Sign Up</button><br>
    </form>
    <form method="post" action="/sign_in">
      Email: <input type="text" name="user[email]">
      Password: <input type="password" name="user[password]">
      <button>Sign In</button></a>
    </form>
  </ul>
</nav>

<%= yield %>

<script src="http:////ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="javascripts/departure_update.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src='javascripts/initializeGoogleMap.js'></script>
</body>
</html>



