<!DOCTYPE>
<html>
<head>
  <title>StopMotion</title>
  <link rel="stylesheet" href="style.css"></link>
</head>
<body>
<nav>
  <ul>
    <li><a href='#'>Favorites</a></li>
    <li><a href='#'>Profile</a></li>
    <li><a href='#'>Log In</a></li>
  </ul>
</nav>

<%= yield %>
<script src="http:////ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="javascripts/departure_update.js"></script>
</body>
</html>