<title>StopMotion</title>
<link rel="stylesheet" href="style.css"></link>
<nav>
  <ul>
    <li><a href='#'>Favorites</a></li>
    <li><a href='#'>Profile</a></li>
    <li><a href='#'>Log In</a></li>
  </ul>
</nav>

<%= yield %>