<title>StopMotion</title>
<link rel="stylesheet" href="style.css"></link>
<nav>
  <ul>
    <li><a href='#'>Favorites</a></li>
    <li><a href='#'>Profile</a></li>
    <li><a href='#'>Log In</a></li>
  </ul>
</nav>

<%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src='script.js'></script>
