<table>
  <tr>
    <th>Line</th>
    <th>Direction</th>
    <th>Stop</th>
    <th>Next Arrival</th>
  </tr>
  <tr>
    <td>N Judah</td>
    <td>Inbound</td>
    <td>Montgomery</td>
    <td><%= @next_arrival %></td>
  </tr>
</table>
