<div class="container">
  <form id="sign-up" method="post" action="/sign_up">
    <label class="label" for="email">Email</label>
    <input type="text" name="user[email]" placeholder="e.g., me@gmail.com">
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="user[password]" placeholder="5 or more characters">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>
</div>